/*Fonte: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Aplica os estilos definidos a todos os elementos da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Estilizando o boddy, centralizando tudo, colocando imagem de fundo e modificando ela*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background: url('../img/ChatGPT_Image_Hortifruti.png') no-repeat center center fixed;
    background-size: cover;
    background-position-x: center;  
}

/*Estilização da tag main*/
.container {
    width: 420px;
    padding: 30px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: #e0a912;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/*Estilização do cabeçalho*/
.container h1 {
    font-size: 36px;
    text-align: center;
}

/*Estilização da "Caixa" de usuário*/
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/*Estilização dos itens que tem dentro da "caixa" de usuário*/
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid rgb(143, 87, 3);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #a5560c;
    padding: 20px 45px 20px 20px;
}

/*O placeholder do campo de "Usuário" e "Senha"*/
.input-box input::placeholder {
color: #b6b2b2;
}

/*Icones de usuário e senha*/
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    cursor: pointer; 
}

.lembrar-senha {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -25px;
    gap: 10px;
    position: relative;
    height: fit-content;
}

/*Checkbox*/
.lembrar-senha input{
    opacity: 0;
    left: 0px;
    width: 19px;
    height: 19px;
    top: 2px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

/*Texto do "Lembrar minha senha"*/
.lembrar-senha label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/*Checkbox animado sem verificação*/
.lembrar-senha label::before {
    content: "";
    position: relative;
    left: 0px;
    width: 15px;
    height: 15px;
    border: 3px solid ;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    margin-right: 14px;
}

/*Checkbox verificado com animação*/
.lembrar-senha input:checked ~ label::before{
    transform: rotate(40deg);
    border-left: transparent;
    border-top: transparent;
    border-radius: 0;
    width: 5px;
    height: 13px;
    left: 6px;
    top: -2px;
}

.esqueci-senha a{
   color: rgb(0, 0, 0);
   font-size: 16px;
   margin-left: 25%;
   text-decoration: none;
}

/*Estilização do botao de login*/
.login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font: 16px;
    color:#333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 15px;
}

/*Transição de cor do botão de login*/
.login:hover {
    background-color: #a5560c;
    border: 1px solid rgba(255, 255, 255, 2);
    color: #ffffff;
    transition: 0.5s;
}
