@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Irish+Grover&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.content-header {
    margin-bottom: 30px;
}

.content-header h1 {
    color: #4C7F48;
    border-bottom: 2px solid #4C7F48;
    padding-bottom: 5px;
}

.form-card {
    background-color: #669b665d;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-options label {
    font-weight: 500;
    color: #333;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.input-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.input-group {
    flex: 1;
    min-width: 200px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    background-color: #fff;
}

.input-group input:focus, .input-group select:focus {
    border-color: #6CA368;
}

.form-actions {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}


.table-container {
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    table-layout: fixed;
}

.data-table th, .data-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-table th {
    background-color: #4C7F48;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.data-table tr:hover {
    background-color: #e6ffe6;
}

:host .data-table .col-fornecedor {
    width: 40%;
}

:host .data-table .col-produto {
    width: 40%;
}

:host .data-table .col-codigo {
    width: 20%;
}

#noResults{
    text-align: center;
    padding: 20px;
    display: none;
}
/* Responsividade do Main Content */
@media screen and (max-width: 992px) {
    .main-content {
        margin-left: 0;
    }
}