/* Estilos para o Modal de Adição de Itens */
.item-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 20; 
}

.item-modal.active {
    display: flex;
}

.item-modal .modal-content {
    background-color:#b9dab9 ;
}

/* Estilo para campos bloqueados (opcional) */
.locked-field {
    background-color: #f5f5f5 !important;
    cursor: not-allowed;
}