<div class="divisao-home">
    <!--main inicio-->

    <main>
      <h1>DashBoard</h1>
      <div class="date">
        <input type="date" id="data_dash" name="data_dash" required aria-label="Data DashBoard">
      </div>
      <!--inicio insights-->
      <div class="insights">
        <!--inicio selling-->
        <div class="sales">
          <span class="material-symbols-sharp">trending_up</span>
          <div class="middle">
            <div class="left">
              <h3>Vendas do dia</h3>
              <h1>R$500,00</h1>
            </div>
            <div class="progress">

            </div>
          </div>
          <small>Vendas do dia de hoje</small>
        </div>
        <!--fim selling-->
        <!--inicio expenses-->
        <div class="expenses">
          <span class="material-symbols-sharp">Local_mall</span>
          <div class="middle">
            <div class="left">
              <h3>Gastos do Mês</h3>
              <h1>R$100,99</h1>
            </div>
            <div class="progress">

            </div>
          </div>
          <small>Despesas do mês</small>
        </div>
        <!--fim expenses-->
        <!--inicio expenses-->
        <div class="income">
          <span class="material-symbols-sharp">stacked_line_chart</span>
          <div class="middle">
            <div class="left">
              <h3>Lucro da semana</h3>
              <h1>R$1000,00</h1>
            </div>
            <div class="progress">

            </div>
          </div>
          <small>Última semana</small>
        </div>
        <!--fim expenses-->
      </div> <!--fim insights-->
      <!--inicio pedidos recents-->
      <div class="recent_order">
        <h1>Pedidos Recentes</h1>
        <table>
          <thead>
            <tr>
              <th>Descrição Produto</th>
              <th>Código</th>
              <th>Valor Pedido</th>
              <th>Estoque</th>
              <th>Situação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Banana</td>
              <td>12385</td>
              <td>R$100,00</td>
              <td class="warning">50 Und</td>
              <td class="primary">Pagar fornecedor</td>
            </tr>
            <tr>
              <td>Maça-Fuji</td>
              <td>12396</td>
              <td>R$200,00</td>
              <td class="warning">10 Kg</td>
              <td class="primary">Pagamento realizado</td>
            </tr>
            <tr>
              <td>Pera</td>
              <td>12365</td>
              <td>R$300,00</td>
              <td class="warning">9 kg</td>
              <td class="primary">Pago</td>
            </tr>
            <tr>
              <td>Uva</td>
              <td>12323</td>
              <td>R$500,00</td>
              <td class="warning">50 Und</td>
              <td class="primary">Pagar fornecedor</td>
            </tr>
            <tr>
              <td>Pepino</td>
              <td>98565</td>
              <td>R$100,00</td>
              <td class="warning">20 kg </td>
              <td class="primary">Pagar fornecedor</td>
            </tr>
            <tr>
              <td>Tomate</td>
              <td>31849</td>
              <td>R$800,00</td>
              <td class="warning">200 kg</td>
              <td class="primary">Realizar pedido</td>
            </tr>
            <tr>
              <td>Cenoura</td>
              <td>87949</td>
              <td>R$800,00</td>
              <td class="warning">200 kg</td>
              <td class="primary">Realizar pedido</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--fim pedidos recents -->
    </main>
    <!--main FIM-->
    <!--right inicio-->
    <div class="right">


      <!--right inicio fim-->
      <!--right inicio recente updates-->
      <div class="recent_updates">
        <h2>Atualizações Recentes</h2>
        <div class="updates">
          <div class="update">
            <div class="profile-photo">
              <img src="assets/img/profile2.png" alt="">
            </div>
            <div class="message">
              <p><b>Alexandre</b> Abriu o caixa</p>
            </div>
          </div>
          <div class="update">
            <div class="profile-photo">
              <img src="assets/img/profile3.png" alt="">
            </div>
            <div class="message">
              <p><b>Kelve</b> Fechou o caixa</p>
            </div>
          </div>
          <div class="update">
            <div class="profile-photo">
              <img src="assets/img/profile5.png" alt="">
            </div>
            <div class="message">
              <p><b>Thiago</b> Realizou alteração no estoque</p>
            </div>
          </div>

        </div>
      </div>
      <!--right fim recente updates-->
      <div class="sales_analytics">
        <h2>Falta em Estoque</h2>

        <div class="alerts-list-wrapper">
          <div class="alerts-list">
            <div class="item">
              <div class="icon">
                <span class="material-symbols-sharp">warning</span>
              </div>
              <div class="right_text">
                <div class="info">
                  <h3>Tomate</h3>
                  <h4 class="variant">31849</h4>
                  <small class="text-muted">Apenas 2Kg</small>
                  <h5 class="danger">IMPORTANTE</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <span class="material-symbols-sharp">warning</span>
              </div>
              <div class="right_text">
                <div class="info">
                  <h3>Chuchu</h3>
                  <h4 class="variant">21849</h4>
                  <small class="text-muted">Apenas 3Kg</small>
                  <h5 class="danger">IMPORTANTE</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <span class="material-symbols-sharp">warning</span>
              </div>
              <div class="right_text">
                <div class="info">
                  <h3>Cenoura</h3>
                  <h4 class="variant">87949</h4>
                  <small class="text-muted">Apenas 1Kg</small>
                  <h5 class="danger">IMPORTANTE</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <span class="material-symbols-sharp">warning</span>
              </div>
              <div class="right_text">
                <div class="info">
                  <h3>Batata</h3>
                  <h4 class="variant">54321</h4>
                  <small class="text-muted">Apenas 5Kg</small>
                  <h5 class="danger">IMPORTANTE</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <span class="material-symbols-sharp">warning</span>
              </div>
              <div class="right_text">
                <div class="info">
                  <h3>Alface</h3>
                  <h4 class="variant">98765</h4>
                  <small class="text-muted">Apenas 10 Und</small>
                  <h5 class="danger">IMPORTANTE</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="alerts-controls">
          <button id="alert-scroll-up" class="scroll-btn">
            <span class="material-symbols-sharp">keyboard_arrow_up</span>
          </button>
          <button id="alert-scroll-down" class="scroll-btn">
            <span class="material-symbols-sharp">keyboard_arrow_down</span>
          </button>
        </div>
      </div>

      <!--right fim analise de promocoes-->
      <!--right fim-->
    </div>
  </div>