<div class="divisao-home">
  <!--main inicio-->

  <main>
    <h1>Dashboard</h1>
    
    <!--inicio insights-->
    <div class="insights">
      <!--inicio selling-->
      <div class="sales">
        <span class="material-symbols-sharp">trending_up</span>
        <div class="middle">
          <div class="left">
            <h3>Vendas do dia</h3>
            <h1 *ngIf="!carregandoAlertas">R$ {{ vendasDiarias | number: '1.2-2' }}</h1>
            <h1 *ngIf="carregandoAlertas">Carregando...</h1>
          </div>
          <div class="progress"></div>
        </div>
        <small>Vendas do dia de hoje</small>
      </div>
      <!--fim selling-->
      <!--inicio expenses-->
      <div class="expenses">
        <span class="material-symbols-sharp">Local_mall</span>
        <div class="middle">
          <div class="left">
            <h3>Gastos do Mês</h3>
            <h1 *ngIf="!carregandoAlertas">R$ {{ gastosMensais | number: '1.2-2' }}</h1>
            <h1 *ngIf="carregandoAlertas">Carregando...</h1>
          </div>
          <div class="progress"></div>
        </div>
        <small>Despesas do mês</small>
      </div>
      <!--fim expenses-->
      <!--inicio expenses-->
      <div class="income">
        <span class="material-symbols-sharp">stacked_line_chart</span>
        <div class="middle">
          <div class="left">
            <h3>Lucro da semana</h3>
            @if (!carregandoAlertas) {
              <!-- 1 (Número minimo de dígitos inteiros antes da vírgula)-->
              <!-- 2 (Número minimo de dígitos decimais depois da vírgula)-->
              <!-- 2 (Número máximo de dígitos decimais depois da vírgula)-->
              <h1>R$ {{ lucroSemanal | number: '1.2-2' }}</h1>  
            } @else {
              <h1>Carregando...</h1>
            }
          </div>
          <div class="progress"></div>
        </div>
        <small>Última semana</small>
      </div>
      <!--fim expenses-->
    </div>
    <!--fim insights-->
    <!--inicio pedidos recents-->
    <div class="recent_order">
      <h1>Entradas Recentes</h1>
    
    <div *ngIf="isLoadingEntradas">Carregando entradas...</div>

    <table *ngIf="!isLoadingEntradas && entradasRecentes.length > 0">
        <thead>
            <tr>
                <th>Descrição Produto</th>
                <th>Código</th>
                <th>Valor Total</th> 
                <th>Intens</th> <th>Fornecedor ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entrada of entradasRecentes">
                <td>{{ entrada.descricaoProduto }}</td>
                <td>{{ entrada.codigo }}</td>
                <td>{{ entrada.precoTotal | currency: 'BRL' }}</td>
                <td>{{ entrada.itens }} und</td>
                <td>{{ entrada.fornecedorId }}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!isLoadingEntradas && entradasRecentes.length === 0">
        Nenhuma entrada recente encontrada.
    </div>

      </div>
    <!--fim pedidos recents -->
  </main>
  <!--main FIM-->
  <!--right inicio-->
  <div class="right">
    <!--right inicio fim-->
    <!--right inicio recente updates-->
    <div class="recent_updates">
      <h2>Atualizações recentes</h2>
      <div class="updates">
        <div class="update">
          <div class="profile-photo">
            <img src="../../../assets/img/profile2.png" alt="" />
          </div>
          <div class="message">
            <p><b>Alexandre</b> Abriu o caixa</p>
          </div>
        </div>
        <div class="update">
          <div class="profile-photo">
            <img src="../../../assets/img/profile3.png" alt="" />
          </div>
          <div class="message">
            <p><b>Kelve</b> Fechou o caixa</p>
          </div>
        </div>
        <div class="update">
          <div class="profile-photo">
            <img src="../../../assets/img/profile5.png" alt="" />
          </div>
          <div class="message">
            <p><b>Thiago</b> Realizou alteração no estoque</p>
          </div>
        </div>
      </div>
    </div>
    <!--right fim recente updates-->

    <!-- Avisos de falta em estoque -->
    <div class="sales_analytics">
      <h2>Avisos de estoque</h2>

      <div class="alerts-list-wrapper">
        <div class="alerts-list">
          @if (carregandoAlertas) {
            <div class="loading-message item">Carregando alertas de estoque...</div>

          } 
            @if (erroCarregamento) {
              <div class="error-message item">{{ erroCarregamento }}</div>

          } 
            @if (!carregandoAlertas && !erroCarregamento) { 
              @for (item of alertasEstoque; track item.codigo) {
                <div class="item">
                  <div class="icon">
                    <span class="material-symbols-sharp">warning</span>
                  </div>
                  <div class="right_text">
                    <div class="info">
                      <h3>{{ item.nome }}</h3>
                      <h4 class="variant">{{ item.codigo }}</h4>
                      <small class="text-muted"
                        >Em estoque: {{ item.quantidadeAtual }} 
                      </small>
                      <br/>
                      <small class="text-muted">
                        Estoque mín: {{ item.quantidadeMinima }}
                      </small>
                      <h5 class="danger">ESTOQUE CRÍTICO</h5>
                    </div>
                  </div>
                </div>
              } @empty {
                <div class="no-items item">Tudo em ordem! Estoque em dia.</div>
              } 
            }
        </div>
      </div>
    </div>

    <!--right fim analise de promocoes-->
    <!--right fim-->
  </div>
</div>
