/*  Mudanças CSS Alexandre */
/*  Categoria */
:host .form-card {
  background-color: #669b665d;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

#categoryName {
  background-color: rgb(247, 255, 246);
}

/* Garantir que o componente raiz expanda toda a largura */
:host {
  display: block;
  width: 100%;
}

.alert {
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 500;
}

.alert-success {
  background-color: #e5f7e5;
  color: #276327;
  border: 1px solid #7bc67b;
}

.alert-error {
  background-color: #fdeaea;
  color: #7a1f1f;
  border: 1px solid #f19595;
}



