<div class="menu">
    <div class="user">
      <div class="perfil"></div>
      <p class="welcome">Bem vindo, Alexandre</p>
    </div>
    <ul class="ul_mobile">
      <!-- Inicio -->
      <!-- TODO: ALTERAR ROUTER LINK (HREF) -->
      <li>
        <div class="menu-header">
          <img class="icon_link" src="../assets/img/InicioHome.svg" alt="Sair" />
          <a class="link_nav" routerLink="/homepage">Inicio</a>
        </div>
      </li>
      <!-- Usuários -->
      <li class="has-submenu">
        <div class="menu-header">
          <img class="icon_link" src="../assets/img/user.SVG.svg" alt="Usuários" />
          <a class="link_nav" routerLink="#">Cadastros ▾</a>
        </div>
        <ul class="submenu">
          <li>
            <img class="icon_link" src="../assets/img/caduser.SVG.svg" alt="Cadastrar Usuário" />
            <a routerLink="Caduser.html">Cadastrar Usuário</a>
          </li>
          <li>
            <img class="icon_link" src="../assets/img/caduser.SVG.svg" alt="Lista de Usuários" />
            <a routerLink="Cadfornecedor.html">Cadastrar Fornecedor</a>
          </li>
          <li>
            <img class="icon_link" src="../assets/img/relatorio.SVG.svg" alt="Lista de Usuários" />
            <a routerLink="Listuser.html">Funcionários</a>
          </li>
        </ul>
      </li>
      <!-- Produtos -->
      <li class="has-submenu">
        <div class="menu-header">
          <img class="icon_link" src="../assets/img/produtos.SVG.svg" alt="Produtos" />
          <a class="link_nav" routerLink="#">Produtos ▾</a>
        </div>
        <ul class="submenu">
          <li>
            <img class="icon_link" src="../assets/img/produtos.SVG.svg" alt="Cadastrar Produtos" />
            <a routerLink="Cadprodutos.html">Cadastrar Produtos</a>
          </li>
          <li>
            <img
              class="icon_link"
              src="../assets/img/produtos.SVG.svg"
              alt="Informações de Produtos"
            />
            <a routerLink="Infoprodutos.html">Info. dos Produtos</a>
          </li>
        </ul>
      </li>
      <!-- Vendas -->
      <li class="has-submenu">
        <div class="menu-header">
          <img class="icon_link" src="../assets/img/Vendas.SVG.svg" alt="Vendas" />
          <a class="link_nav" routerLink="#">Vendas ▾</a>
        </div>
        <ul class="submenu">
          <li>
            <img class="icon_link" src="../assets/img/Vendas.SVG.svg" alt="Nova Venda" />
            <a routerLink="Novavenda.html">Nova Venda</a>
          </li>
          <li>
            <img class="icon_link" src="../assets/img/Vendas.SVG.svg" alt="Histórico de Vendas" />
            <a routerLink="Histvendas.html">Histórico de Vendas</a>
          </li>
        </ul>
      </li>
      <!-- Caixa -->
      <li>
        <div class="menu-header">
          <img class="icon_link" src="../assets/img/caixa.SVG.svg" alt="Caixa" />
          <a class="link_nav" routerLink="Caixa.html">Caixa</a>
        </div>
      </li>
      <!-- Relatórios -->
      <li>
        <div class="menu-header">
          <img class="icon_link" src="../assets/img/relatorio.SVG.svg" alt="Relatórios" />
          <a class="link_nav" routerLink="Relatorio.html">Relatórios</a>
        </div>
      </li>
      <!-- Sair -->
      <li>
        <div class="menu-header">
          <img class="icon_link" src="../assets/img/sair.SVG.svg" alt="Sair" />
          <a class="link_nav" routerLink="login.html">Sair</a>
        </div>
      </li>
    </ul>
  </div>